 
 body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: linear-gradient(to right, #ff5722, #ff9800); 
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
 
 
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .title-container h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
 
 
 .movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


   .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  
  .movie-card {
    width: 200px;
    transition: transform 0.2s;
    cursor: pointer;
    margin: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .movie-card-image {
    position: relative;
  }
  
  .movie-card-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 8px 0;
  }
  
  .movie-card:hover .movie-card-title {
    opacity: 1;
  }
  
  .movie-card-image img {
    width: 100%;
    height: auto;
    display: block;
  }


  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #ff5722, #ff9800);
  }
  