<ng-container *ngIf="!movie; else movieDetails">
    <mat-progress-spinner color="accent" diameter="50"></mat-progress-spinner>
  </ng-container>



  <ng-template #movieDetails>
<mat-toolbar color="primary" class="header">
    <span class="logo">{{etiquetas.titulo}}</span>
  </mat-toolbar>
  <div class="movie-details-container">
    <div class="movie-details">
      <img class="movie-poster" [src]="'https://image.tmdb.org/t/p/w500' + movie?.poster_path" alt="{{ movie?.title }}">
      <div class="movie-info">
        <h2>{{ movie?.title }}</h2>
        <p><strong>{{etiquetas.resume}}</strong> {{ movie?.overview }}</p>
        <p><strong>{{etiquetas.date}}</strong> {{ movie?.release_date | date }}</p>
        <p><strong>{{etiquetas.calif}}</strong> {{ movie?.vote_average }} / 10</p>
      </div>
    </div>
  </div>
  <mat-toolbar color="primary" class="footer">
    <span>&copy; {{etiquetas.footer}}</span>
  </mat-toolbar>
</ng-template>